<!DOCTYPE html>
<html>
  <head>
    <title>Default Page</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <meta charset="utf-8" />
  </head>
  <body>
 
    <!-- 로그인폼 -->
    <form action="/account" method="post">
      <p>ID : <input name="username" type="text" /></p>
      <p>PASSWORD : <input name="password" type="password" /></p>
      <input value="로그인" type="submit" />
    </form>
 
  </body>
</html>
